/* Hero Section */
.Hero-Section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px;
    flex-wrap: wrap;
    background: #f4fbf6;
    font-family: Arial, Helvetica, sans-serif;
}

/* Image Box */
.intro-Box{
    position: relative;
}

/* Image */
.intro-img{
    width: 320px;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
}

.image-Content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    font-size: 250px;
    font-weight: bold;
    color:rgba(0,0,0,0.15);
    background-color: linear-gradient(90deg,#2e7d32,#1b5e20);
    line-height: 75px;
    letter-spacing: 6px;
    z-index: 1;
}

/* Content Box */
.intro-Content-Box{
    max-width: 420px;
}

/* Text */
.intro-Content-Box p{
    font-size: 16px;
    line-height: 1.7;
    color: #2f4f2f;
    margin-bottom: 20px;
}

.intro-Content-Box h1{
    font-size: 2.5em;
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#2f4f2f;
}
/* Button */
.intro-Content-Box button{
    padding: 12px 28px;
    border: none;
    background: #3a7d44;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.intro-Content-Box button:hover{
    background: #2f6b38;
}

/* Responsive */
@media (max-width: 800px){

    .Hero-Section{
        flex-direction: column;
        text-align: center;
    }

    .image-Content{
        font-size: 70px;
        line-height: 60px;
    }

}

@media (max-width: 500px){

    .intro-img{
        width: 260px;
        height: 340px;
    }

    .image-Content{
        font-size: 50px;
        line-height: 45px;
    }

}