.myBox{
    border: 1px solid;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myBox a{
    border: 1px solid;
    padding: 1em;
    margin: 1em;
}
.myRecipes{
    display: flex;
    
}
i{
    font-size: 2em
}
.like:active{
    color: skyblue;
}
.dislike:active{
    color: red;
}